## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [3]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [4]:
def get_filter_num(list_n):
    return sum([n for n in list_n if (10 < n < 100) or (200 < n < 500)])

In [6]:
get_filter_num(list_01)

1291

#### Задача 2

Дана строка:

In [4]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [1]:
import re

In [2]:
def find_words_start_with_letter(string, letter):
    words = re.findall(fr'\b{letter}\w+', string)
    result = [word for word in words if word.lower().startswith(letter.lower())]
    return result

In [5]:
find_words_start_with_letter(some_string, 'c')

['cultures', 'clash', 'cause', 'conquered']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [6]:
import random

In [8]:
random_num = random.randint(1, 5)
while True:
    num = int(input("Gess the number form 1 to 5: "))
    if num != random_num:
        print("Try again")
        continue
    print("Congratulations!", random_num)
    break

Gess the number form 1 to 5:  4

Try again

Gess the number form 1 to 5:  1

Try again

Gess the number form 1 to 5:  5

Try again

Gess the number form 1 to 5:  4

Try again

Gess the number form 1 to 5:  3

Congratulations! 3

In [32]:
def generate_sequence():
    sequence = [str(random.randint(0, 9)) for _ in range(5)]
    position = random.randint(0, 5)
    
    sequence.insert(position, '3')
    
    return ''.join(sequence)

In [33]:
rand = generate_sequence()

In [34]:
print(rand)

651039

#### Задача 4

Данные студентов представлены в виде списка списков:

In [56]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [71]:
students_dict = {student[0]: student[1:] for student in students}

In [72]:
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [60]:
def print_students_by_group(group, students_dict):
    # Фильтруем студентов по номеру группы
    group_students = [info for info in students_dict.values() if info[-1] == group]
    
    # Сортируем студентов по фамилии
    group_students_sorted = sorted(group_students, key=lambda x: x[0])
    
    # Выводим пронумерованный список студентов
    for i, student in enumerate(group_students_sorted, start=1):
        full_name = f"{student[0]} {student[1]} {student[2]}"
        print(f"{i}. {full_name}")

In [61]:
print_students_by_group("БСТ161", students_dict)

1. Антонов Антон Игоревич
2. Боков Игорь Харитонович
3. Потапов Дмитрий Станиславович
4. Степанова Наталья Александровна

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [82]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.s_id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
        
        
    def add_to_dict(self, students_dict):
        students_dict[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        
        
    def update_dict(self, students_dict):
        if self.s_id in students_dict:
            students_dict[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        else:
            print(f"Студент с ID {self.s_id} не найден.")
        
        
    def change_group(self, new_group, students_dict):
        if self.s_id in students_dict:
            self.group = new_group
            students_dict[self.s_id][4] = new_group
        else:
            print(f"Студент с ID {self.s_id} не найден.")
        
        
    def change_id(self, new_id, students_dict):
        if self.s_id in students_dict:
            student_dict[new_id] = student_dict.pop(self.s_id)
            self.s_id = new_id
        
        
    def print_data(self):
        print(f"ID: {self.s_id}, ФИО: {self.last_name} {self.first_name} {self.patronomic_name}, Дата рождения: {self.date}, Группа: {self.group}")

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [83]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [84]:
volkova.add_to_dict(students_dict)

In [85]:
print(students_dict)

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [86]:
volkova.change_group('БСТ161', students_dict)

In [87]:
print(students_dict)

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

In [90]:
updated_group = [v for k, v in students_dict.items() if v[4] == "БСТ161"]

In [91]:
print("Обновленный список группы 'БСТ161':")
for student in updated_group:
    print(student)

Обновленный список группы 'БСТ161':
['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161']
['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']
['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161']
['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [95]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [102]:
matrix_t = [row for row in zip(*matrix)]

In [103]:
print([row for row in matrix_t])

[(0, 6, 3, 4, 5), (1, 2, 3, 6, 7), (2, 2, 3, 7, 3), (4, 1, 3, 1, 4), (8, 9, 3, 2, 0)]