### Задание 1

In [3]:
import pandas as pd
import os

In [5]:
rating_path = os.path.normpath(r'C:\Users\XE\Downloads\ml-latest-small\ratings.csv')

In [6]:
ratings_df = pd.read_csv(rating_path)

In [2]:
def classify_ratings(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    elif rating >= 4.5:
        return 'высокий рейтинг'

In [7]:
def classify_movies(df):
    df['class'] = df['rating'].apply(classify_ratings)
    return df

In [9]:
classified_df = classify_movies(ratings_df)

In [10]:
classified_df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2

In [11]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [12]:
def classify_region(query, geo_data):
    query_lower = query.lower() 
    for region, cities in geo_data.items():
        if any(city in query_lower for city in cities):
            return region
    return 'undefined'

In [13]:
file_path = os.path.normpath(r'C:\Users\XE\Downloads\ml-latest-small\keywords.csv')

In [14]:
df_keywords = pd.read_csv(file_path, encoding='utf-8')

In [15]:
df_keywords['region'] = df_keywords['keyword'].apply(lambda x: classify_region(str(x), geo_data))

In [19]:
df_keywords[df_keywords['region'] != 'undefined'].head()

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

### Задание 3

In [20]:
years = list(range(1950, 2011))

In [21]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [22]:
movies_path = os.path.normpath(r'C:\Users\XE\Downloads\ml-latest-small\movies.csv')

In [23]:
movies_df = pd.read_csv(movies_path)

In [24]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [25]:
movies_df['year'] = movies_df['title'].apply(production_year)

In [26]:
merged_df = pd.merge(ratings_df, movies_df, on='movieId')

In [30]:
aver_ratings_by_year = merged_df.groupby('year')['rating'].mean().sort_values(ascending=False).reset_index()

In [31]:
aver_ratings_by_year

    year    rating
0   1957  4.014241
1   1972  4.011136
2   1952  4.000000
3   1954  3.994220
4   1951  3.983539
..   ...       ...
57  2005  3.448434
58  2003  3.444777
59  1996  3.426600
60  1997  3.415764
61  2000  3.356104

[62 rows x 2 columns]